
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'segoe UI', tahoma, Geneva, Verdana, sans-serif;
}

body {  
background-image: linear-gradient(90deg, rgb(1, 17, 36),rgb(4, 47, 100),rgb(3, 90, 197));
color: rgb(248, 248, 248);
}

/* estilo header nav */

header nav{
  margin: 50px;
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav a {
  color: rgb(248, 248, 248);
  text-decoration: none;
  padding: 7px;
  font-size: 2rem;
  position: relative;
}

header nav a::after{
  content: " ";
  width: 0%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  position:absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

header nav a:hover::after{
  width: 100%
}

/* estilo header nav */

main {
  display: flex; 
  justify-content: center;
  align-items: center;
}
.content {
  margin-top: 50px;
  max-width: 900px;
  display: flex;
  max-height: 60vh;
}
.content .foto{
  min-width: 350px;
}
.content .foto img{
  width: 100%;
}
.content .text{
  overflow-y: scroll;
}
.content .text::-webkit-scrollbar {
  display: none;
}
.content .text h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
}
.content .text h2 {
  font-size: 2rem;
  padding: 1rem;
}
.content  p {
  text-indent: 10px;
  padding: 0 1rem;
}

